beautifulsoup4==4.15.0
brotli==1.2.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==49.0.0
cssselect2==0.9.0
fonttools==4.63.0
idna==3.18
Jinja2==3.1.6
lxml==6.1.1
MarkupSafe==3.0.3
packaging==26.2
pillow==12.3.0
pycparser==3.0
pydyf==0.12.1
pyOpenSSL==26.3.0
pyphen==0.17.2
python-dotenv==1.2.2
pytz==2026.2
qrcode==8.2
requests==2.34.2
satcfdi==26.7.2
soupsieve==2.8.4
tabulate==0.10.0
tinycss2==1.5.1
tinyhtml5==2.1.0
typing_extensions==4.16.0
urllib3==2.7.0
weasyprint==69.0
webencodings==0.5.1
xlsxwriter==3.2.9
zopfli==0.4.3
